#Agent
/agent/target

#Laravel
/apps/control-plane/.DS_Store
/apps/control-plane/.env
/apps/control-plane/.env.backup
/apps/control-plane/.env.production
/apps/control-plane/.phpactor.json
/apps/control-plane/.phpunit.result.cache

/apps/control-plane/auth.json
/apps/control-plane/node_modules
/apps/control-plane/public/build
/apps/control-plane/public/fonts-manifest.dev.json
/apps/control-plane/public/hot
/apps/control-plane/public/storage
/apps/control-plane/storage/pail
/apps/control-plane/vendor
/apps/control-plane/_ide_helper.php
/apps/control-plane/Homestead.json
/apps/control-plane/omestead.yaml
/apps/control-plane/Thumbs.db
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
#Docker

#Examples

#Nginx

#Scripts